.project {
  width: 75vw;
  border-radius: 36px;
  overflow: hidden;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 16px;
  background-color: #EBE9E9;
  padding: 0px;
  transition: transform 0.3s ease-in-out;
  }

.project:hover {
  transform: scale(1.05);
}



.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  height: auto;
}

.title {
  margin-top: 10px;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
  color: #2c2c2c;
  margin-right: 8px;
  
}

.description {
  font-family: 'Inter', sans-serif; 
  font-size: 1rem;
  color: #2c2c2c;
  margin-right: 8px;
}

a{
  text-decoration: none;
  color: inherit;
}